<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Photorama.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CCD921AC1F0423C700A9D70C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CCD921C01F0423C700A9D70C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CCD921CB1F0423C700A9D70C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
